@model Variaveis

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindos</h1>

<p>
    O valor de <b>UserCount</b> é : <i>@Model.userCount</i>
</p>

<p>
    O valor de <b>TotalCount</b> é <i>@Model.totalCount</i>
</p>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">TabelaTipos</h1>

    <p>
        O valor máximo de <b>Bytes</b> é: <i>@Model.maxByte</i><br />
        O valor mínimo de <b>Bytes</b> é: <i>@Model.minByte</i>
    </p>

    <p>
        O valor máximo de <b>sbyte</b> é: <i>@Model.maxSbyte</i><br />
        O valor mínimo de <b>sbyte</b> é: <i>@Model.minSbyte</i>
    </p>

    <p>
        O valor máximo de <b>short</b> é: <i>@Model.maxShort</i><br />
        O valor mínimo de <b>short</b> é: <i>@Model.minShort</i>
    </p>

    <p>
        O valor máximo de <b>ushort</b> é: <i>@Model.maxUshort</i><br />
        O valor mínimo de <b>ushort</b> é: <i>@Model.minUshort</i>
    </p>

    <p>
        O valor máximo de <b>int</b> é: <i>@Model.maxInt</i><br />
        O valor mínimo de <b>int</b> é: <i>@Model.minInt</i>
    </p>

    <p>
        O valor máximo de <b>uint</b> é: <i>@Model.maxUint</i><br />
        O valor mínimo de <b>uint</b> é: <i>@Model.minUint</i>
    </p>

    <p>
        O valor máximo de <b>long</b> é: <i>@Model.maxLong</i><br />
        O valor mínimo de <b>long</b> é: <i>@Model.minLong</i>
    </p>
